<table>
  <% if comments.present? %>
    <% comments.each do |comment| %>
      <tr>  
        <td>
          <%= comment.user.name if comment.user.present? %> ->
        </td>
        <td>
          <%= comment.status if comment.status.present? %>
          <%= image_tag comment.image, :height => '100', :width => '200' if comment.image.present? %>
           <%= link_to 'Like'%>
            <% if comment.user.id == current_user.id %>
              <%= link_to 'Destroy', post_path(comment), :method => :delete %>
            <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
