<%= render 'home/header1' %>
</br></br></br></br>
<p id="notice"> <%= notice %> </p>
<h2> List of your friends </h2>
<table>
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Date of birth</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @friends.each do |friend| %>
    <%= form_for @current_user,:url => respond_path(:friend_id => friend.id ) do |f| %>
      <tr>
        <td><%= friend.id %></td>
        <td><%= friend.name %></td>
        <td><%= friend.date_of_birth %></td>
        <td><%= friend.email %></td>
        <td>
          <% text = is_friend?(friend)%>
          <div class="actions">
            <%= f.submit value="#{text}", :name => "#{text}"%>
          </div>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>

<br />


