
<table>
  <tr>
    <th>Name</th>
    <th>Date of birth</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @friends.each do |friend| %>
    
      <tr>
        <td><%= friend.id %> </td>
        <td><%= friend.name %></td>
        <td><%= friend.date_of_birth %></td>
        <td><%= friend.email %></td>
        <td>
          <div class="actions">
            <%= f.submit value="Remove Friend" %>
          </div>
        </td>
      </tr>
    
  <% end %>
</table>

<br />


<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %> |
<%= link_to 'back', home_index_path %>
