<%= render 'home/header' %>
</br></br></br></br>
<p id="notice"><%= notice %></p>
    
    <%= label_tag(:search) %>
    <%= text_field_tag(:search,'',size: 20, placeholder: 'Search your friend', :id => 'keyword') %>
    <button id='search' > Search </button>
    
    
<h2>People you may know.</h2>

  
<div id="searched_items">
  <%= render :partial => 'friends', :locals => { :users => @users } %>
</div>


<script type="text/javascript" charset="UTF-8">  
  if($('#keyword').val() ==  "") {
    $("#searched_items").html("<%= escape_javascript( render(:partial => 'users/friends', :locals => { :users => @users }))%>");
    $('#search').attr('disabled', true);
  }
  $(document).on("click", "#search", function(){
    var search_keyword = $("#keyword").val();
    search_method(search_keyword)
  });
  
  function search_method(keyword){
    $.ajax({
      url: "/search/"+keyword, type: "POST"
    });
  };
  
  $(document).on("keydown", "#keyword", function(e){
    
    if( e.keyCode == 13 || ($.trim($("#keyword").val())).length >= 3 ){
      var search_keyword = $("#keyword").val();
      search_method(search_keyword)
    }
  });
</script>
