<p id="notice"><%= notice %></p>


<p>
  <b>Name:</b>
  <%= @user.name %>

</p>

<p>
  <b>Date of birth:</b>
  <%= @user.date_of_birth %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user[:id]) %> |
<%= link_to 'Logout', logout_login_index_path %> | 
<%= link_to 'Add post', new_post_path %>
