<% if user_signed_in? %>
  <%= form_for(current_user.posts.build, :html => {:multipart => true, :method => "post"}) do |f| %>
    <table> 
      <tr>
        <td colspan='2'>
          <h3>Create Post from here....</h3>
        </td>
      </tr>  
      <tr>
        <td>
          <div class="field">
            <%= f.label :Status %>&nbsp;:
            <%= f.text_field :status %>
          </div>
        </td>
        <td>
          <div class="field">
            &nbsp;&nbsp;<%= f.label :Photo %>:
            <%= f.file_field :image %>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan='2'>
          <div class="actions">
            <input type="submit" class="btn btn-success btn-sm" value="create post"/>
          </div>
        </td>
      </tr> 
    </table>
  <% end %>
<% end %>
