<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
  <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
  <%= link_to "Find Friends", users_path %>
  <h5 align=""> welcome <%= current_user.name %> </h5>
  <%= render 'form' %>
  <% @posts.each do |p|%>
    <%= p.status %></br></br>
  <% end %>
<% else %>
  <h1> welcome Social Networking Site!</h1>
  <%= link_to "Sign In", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
<% end %>
